/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  /* 0035B2 195EFF 004CFF B27E00 FFB300 */
  background-color: #004CFF;
  font: 15.34px Helvetica, Arial, sans-serif;
  color: #FFF;
  text-align: center;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 70em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

#content {
  width: 75%;
  margin: 20px 5% 20px 20%;
  padding: 10px;
}

div#back-to-site {
  width: 100px;
  position: fixed;
  margin-left: 50px;
  margin-top: 25px;

  background-color: #9999FF;
}

.left-header {
  font-size: 2em;
  margin: 0px;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #fff;
}

.title a:hover {
  color: #FFB300;
}

.header a.extra {
  color: #fff;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #FFB300;
}

.meta {
  color: #fff;
}

.footer {
  width: 30em;
  color: #eee;
  margin: 2em auto 0px auto;
  overflow: hidden;
}

.footer .contact {
  width: 45%;
  margin: 5px 2.5% 5px 2.5%;
  float: left;
}

.footer .contact a {
  color: #eee;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#home-content {
  width: 80%;
  margin: 10% auto 5% auto;
  position: relative;
}

#title {
  width: 100%;
  margin: 0.5em 0px 0px 0px;
  font-size: 6em;
}

#title-right {
  
}

#title-left {
  
}

#home-content > #links {
  margin: auto;
  width: 80%;
  font-size: 3em;
}

a.home-link {
  color: #999;
  text-decoration: none;
  display: block;

  -webkit-transition: -font-size 0.1s;
  transition: font-size 0.1s;
}

a.home-link:hover {
  color: #FFB300; /* B27E00 FFB300 */

  font-size: 1.2em;
}


@media screen and (min-width: 1200px) {

  #home-content {
    width: 80%;
    margin: 10% auto 5% auto;
    position: relative;
  }

  #title {
    width: 100%;
    margin: 0.5em 0px;
    font-size: 8em;
  }

  #title-right {
    float: left;
  }

  #title-left {
    float: right;
  }

  #home-content > #links {
    position: relative;
    top: -3.9em;
    margin: auto;
    width: 25%;
    font-size: 4em;
  }

  a.home-link {
    float: none;
    color: #FFF;
    text-decoration: none;
    display: block;

    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
  }

  a.home-link:hover {
    color: #FFB300; /* B27E00 FFB300 */

    -webkit-transform:rotate(5deg);
    transform:rotate(5deg);
  }
  
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
