          <div class="footer">
            <div class="contact">
              <p>
                Caleb Young<br />
                Developer<br />
                menlocaleb@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/menlocaleb">github.com/menlocaleb</a><br />
                <a href="https://twitter.com/menlocaleb">twitter.com/menlocaleb</a><br />
              </p>
            </div>
          </div>
        </div><!-- class="site" -->

    </body>
</html>
